#container {
    height: 300px;
    background-image: url("./img/mkbackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

#platform {
    position: absolute;
    top: 150px;
    width: 500px;
    display: flex;
}

#char1, #char2 {
    width: 100px;
    height: 150px;
    position: absolute;
    background-repeat: no-repeat;
}

#player1HP, #player2HP {
    height: 15px;
    width: 200px;
    background-color: red;
    text-align: center;
}

#player1HPinner, #player2HPinner {
    background-color: green;
    height: 15px;
    width: 200px;
    left: 0px;
}

#namebar1, #namebar2 {
    color: white;
    text-align: center;
}

#hp {
    display: flex;
    justify-content: space-around;
}

#char1 {
    left: 100px;
    top: 150px;
    background-image: url("./img/scorpion.png");
}

#char2 {
    right: 100px;
    top: 150px;
    background-image: url("./img/subzero.png");
}

.controls {
    text-align: center;
    margin: auto;
}

table {
    margin: auto;
    border: 1px solid;
}

td {
    border: 1px solid;
}

#winner {
    position: absolute;
    top: 150px;
    left: 45%;
    background-color: white;
}
